@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');
/* font-family: 'Architects Daughter', cursive;
font-family: 'Montserrat', sans-serif; */

html {
	font-family: 'Montserrat', sans-serif;
    background-color: #19323c;
    background-image: url('https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    padding-top: 1000px;
    height: 100%;
	margin: 40px;
	width: 70vw;
	max-width: 1000px;
	padding: 10px;
    border: 3px solid black;
    background-color: rgba(250, 250, 250, 0.8);
	box-shadow: 5px 5px rgba(210, 210, 210, 0.6);
    border-radius: 15px;
}

h1 {
	font-size: 3rem;
	text-shadow: 3px 3px rgba(210, 210, 210, 0.8);
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	letter-spacing: 1px;
}

.individual-song {
	margin: 10px;
	padding: 10px;
	max-width: 800px;
	max-height: 400px;
}

.individual-song-title {
	color: #1B4F3C;
	font-size: 1rem;
}

input {
	margin: 10px;
	padding: 10px;
	width: 50vw;
	border-radius: 5px;
	border: 1px solid black;
}

.red {
	color: red !important;
}

.submit {
    background-color: #F7910F;
    width: 60vw;
	border: none;
	color: white;
}

.header {
	display: inline-block;
	margin-left: 10px;
}

.title-head {
	margin-left: 30px;
	padding: 10px;
	width: 600px;
	border-bottom: 5px solid #F7910F;
}

.data {
	display: flex;
	justify-content: space-between;
}

svg {
	margin: 5px;
}

p {
	font-weight: bold;
}

.list {
	padding: 10px;
	width: 65vw;
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
}

h2,
h3,
p {
    font-family: 'Architects Daughter', cursive;
}

.new-song {
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(210, 210, 210, 0.6);
}

form {
    margin: 0 auto;
}