@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Condensed:wght@700&display=swap');
/* font-family: 'Fira Mono', monospace;
font-family: 'Roboto Condensed', sans-serif; */

html {
	font-family: 'Roboto Condensed', sans-serif;
	color: #19323c;
}

body {
	margin: 40px;
	width: auto;
	max-width: 1000px;
	padding: 10px;
	border: 1px solid black;
	box-shadow: 5px 5px rgba(210, 210, 210, 0.8);
}

h1 {
	font-size: 3rem;
	text-shadow: 3px 3px rgba(210, 210, 210, 0.8);
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

.individual-song {
	margin: 10px;
	padding: 10px;
	max-width: 800px;
	max-height: 400px;
}

.individual-song-title {
	color: #5c7d8b;
	font-size: 1rem;
}

input {
	margin: 10px;
	padding: 10px;
	width: 50vw;
	border-radius: 5px;
	border: 1px solid black;
}

.red {
	color: red !important;
}

.submit {
	background-color: #a93e55;
	border: none;
	color: white;
}

.header {
	display: inline-block;
	margin-left: 10px;
}

.title-head {
	margin-left: 30px;
	padding: 10px;
	width: 600px;
	border-bottom: 5px solid #a93e55;
}

.data {
	display: flex;
	justify-content: space-between;
}

svg {
	margin: 5px;
}

p {
	font-weight: bold;
}

.list {
	padding: 10px;
	width: 50vw;
	border-top: 0.5px solid black;
	border-bottom: 0.5px solid black;
}

h2,
h3,
p {
	font-family: 'Fira Mono', monospace;
}
